.encabezado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.encabezado__logo{
    background: var(--logo-alura-geek) center / cover no-repeat;
    height: 28px;
    width: 28%;
}

.login__encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 37%;
    border: solid 1px var(--azul-claro);
    color: var(--azul-claro);
    text-align: center;
    vertical-align: center;
    font-family: var(--raleway-font);
    font-weight: 600;
    font-size: 0.875rem;
}

.buscador__encabezado{
    background: var(--img-buscador) center / cover no-repeat;
    height: 17px;
    width: 17px;
}