.encabezado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.encabezado__logo{
    background: var(--logo-alura-geek) center / cover no-repeat;
    height: 28px;
    width: 29%;
}

.login__encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 11%;
    border: solid 1px var(--azul-claro);
    color: var(--azul-claro);
    text-align: center;
    vertical-align: center;
    font-family: var(--raleway-font);
    font-weight: 600;
    font-size: 0.875rem;
    text-decoration: none;
}

.encabezado__buscador{
    display: flex;
    align-items: center;
}

.encabezado__buscador-input{
    background-color: var(--fondo-gris-suave);
    font-size: .8rem;
    padding: 5px;
    width: 80%;
    border: none;
    border-radius: 20px;
    color: var(--letra-gris-mas-suave);
    margin-right: 2%;
}

.encabezado__buscador-input::placeholder{
    color: var(--letra-gris-mas-suave);
}

.encabezado__buscador-btn{
    background: var(--img-buscador) center / contain no-repeat;
    width: 10%;
    height: 20px;
}