.formulario-login{
    background: var(--fondo-gris-suave);
    font-family: var(--raleway-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vh 0 20vh 0;
}

.formulario-login__leyenda{
    font-size: 1rem;
    color: var(--letra-gris-suave);
    font-weight: 700;
    margin-bottom: 16px;
}

.formulario-login__input-email, .formulario-login__input-contrasena{
    width: 76%;
    font-size: 1rem;
    color: var(--letra-gris-mas-suave);
    padding: 8px 12px;
    margin-bottom: 16px;
    border: none;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

.formulario-login__input-email::placeholder, .formulario-login__input-contrasena::placeholder{
    color: var(--letra-gris-mas-suave);
}

.formulario-login__submit{
    color: #ffffff;
    background: var(--azul-claro);
    font-size: 0.875rem;
    padding: 12px;
    width: 30.3%;
    border: none;
    font-weight: 600;
}



